<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Polls</title>
</head>
<body>
    <a href="{% url 'index' %}">Home</a>
    {% if question %}
        <h1>{{ question.question_text }}</h1>
        <ul>
            {% for choice in question.choice_set.all() %}
            <li>
                <a href="">{{ choice.choice_text }}</a>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
</body>
</html>